<%- model_class = Tasktop -%>
<div class="page-header">
  <h1>タスク一覧</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
		<%= @users %>
      <th>タスク名</th>
      <th>重み</th>
      <th>担当者</th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @tasktops.each do |tasktop| %>
      <tr>
        <td><%= link_to tasktop.name, tasktop_path(tasktop) %></td>
        <td><%= tasktop.weight %></td>
        <td><%= tasktop. %></td>

        <td><%= tasktop.owner_id %></td>
        <td><%= tasktop.owner_id %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_tasktop_path(tasktop), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      tasktop_path(tasktop),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_tasktop_path,
            :class => 'btn btn-primary' %>
