<%- model_class = Tasktop -%>
<div class="page-header">
  <h1>タスク一覧</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
		<%= @users %>
      <th>タスク名</th>
      <th>重み</th>
      <th>担当者</th>
			<th>消化済かどうか</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @tasktops.each do |tasktop| %>
			<% tasktop.finish == 0 ? finish = '未' : finish = '済' %>
      <tr>
        <td><%= link_to tasktop.name, tasktop_path(tasktop) %></td>
        <td><%= tasktop.weight %></td>
        <td><%= tasktop.user.username %></td>
        <td><%= finish %></td>
        <td>
          <%= link_to "編集", edit_tasktop_path(tasktop), :class => 'btn btn-mini' %>
          <%= link_to '削除', tasktop_path(tasktop),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '本当に消してもいいですか?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<div class="form-actions">
	<%= link_to "マイページに戻る", root_path, :class => 'btn'  %>
</div>













				
