<%- model_class = Tasktop -%>
<div class="page-header">
	<h1>タスク詳細</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @tasktop.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:weight) %>:</strong></dt>
  <dd><%= @tasktop.weight %></dd>
  <dt><strong><%= model_class.human_attribute_name(:owner_id) %>:</strong></dt>
	<dd><%= @tasktop.owner_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to "マイページに戻る", root_path, :class => 'btn'  %>
  <%= link_to "タスク一覧", tasktops_path, :class => 'btn'  %>
  <%= link_to "タスクを編集", edit_tasktop_path(@tasktop), :class => 'btn' %>
  <%= link_to "タスクを削除", tasktop_path(@tasktop),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '本当に消しますか?')) },
              :class => 'btn btn-danger' %>
</div>
